<!DOCTYPE html>
<html lang="en">
  <body>
    <script src="https://unpkg.com/vue@3"></script>

    <div id="app">
      <div @keyup.esc="resetVotes" tabindex="0">
        <h1>Election</h1>

        <h3>Add candidate</h3>

        <form @submit.prevent="addCandidate">
          <label
            >Name <br />
            <input type="text" v-model="form.name"
          /></label>
          <br /><br />
          <label
            >Initial votes <br />
            <input type="number" v-model="form.votes"
          /></label>
          <br />
          <br />
          <button>Add</button>
        </form>

        <h3>Our mayor is {{ mayor}}</h3>

        <div v-for="candidate in orderedCandidates" style="padding: 10px">
          <strong>{{ candidate.name }}</strong> {{ candidate.votes}}
          <button @click="vote(candidate)">Vote</button>
        </div>
      </div>
    </div>

    <script>
      Vue.createApp({
        data() {
          return {
            form: {
              name: "",
              votes: 0,
            },
            candidates: [
              { name: "Violet", votes: 0 },
              { name: "Dash", votes: 0 },
              { name: "Jack Jack", votes: 0 },
              { name: "Elastigirl", votes: 0 },
              { name: "Mr. Incredible", votes: 0 },
            ],
          };
        },
        computed: {
          orderedCandidates() {
            return [...this.candidates].sort((a, b) => b.votes - a.votes);
          },
          mayor() {
            return this.orderedCandidates[0].name;
          },
        },
        methods: {
          vote(candidate) {
            candidate.votes++;
          },
          addCandidate() {
            this.candidates.push({ ...this.form });
            this.form.name = "";
            this.form.votes = 0;
          },
          resetVotes() {
            this.candidates.forEach((c) => (c.votes = 0));
          },
        },
      }).mount("#app");
    </script>
  </body>
</html>
